#navbar{
  padding: 10px 0;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-around;
  font-family: sans-serif;
  position:fixed;
  width: 100%;
  z-index: 3000;
 

 
}
.navbarBackground{
  background:#161414;
}
#navbar a{
 color: #ffffffa0;
 margin-left: 15px;
 margin-right: 15px;
 text-decoration: none;
}
#navbar .contact{
  margin-left: 10px;
  margin-right: 10px;
  border-style: solid;
  position: relative;
  height: 3rem;
  width: 100px;
  border-color: #fff;
  background: none;
  color: #fff;
  font-weight: bold;
}
#navbar .contact::before{
  content: "";
  width: 0%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-color: #fff;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
#navbar .contact:hover::before{
  content: "";
  width:100%;
  height: 100%;
  position: absolute;
}
.A{
  color: rgba(255, 128, 0, 0.779);
}
#navbar .contact:hover {
color: black;
}
#navbar .activeLink {
  color:#fff;
}
/*navbar responsive*/
@media screen and (max-width:450px){
  #navbar{
    display: flex;
    flex-direction: column;
  }
}
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #161414e4;
}
html{
  scroll-padding-top: 75px;
}
.banner{
  width: 100%;
  padding: 240px 0 80px 20px;
  font-weight: 700;
  font-family: sans-serif;
  color: #fff;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: top center;
  width: 100%;
  background: url('./assets/bg.jpg') no-repeat;
  background-size: cover;
}
/*banner responsive*/
@media screen and (max-width:450px){
 .banner{
  display: flex;
  background-size: cover;

 }
  
  .container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }
  .container h1{
    font-size: 18px;
  }
  .picture img{
    height: 200px;
    height: 200px;
    animation: anim 3s linear infinite;
  }
  .banner p{
    width: 100%;
  }
}
.container{
  display: flex;
  justify-content: space-between;
}
.picture img{
  height: 400px;
  height: 400px;
  animation: anim 3s linear infinite;
}
@keyframes anim {
  0%{
    transform:translateY(-20px)
  }
  50%{
    transform: translateY(20px);
  }
  100%{
    transform: translateY(-20px);
  }
}
.btn{
  color: #fff;
  font-size: 16px;
  font-family: sans-serif;
  background-color: rgb(204, 141, 16);
  border-width: 0;
  filter: drop-shadow(0 0 0.5em rgb(255, 128, 0));
  height: 2.5rem;
  width: 100px;
}
.btn:hover{
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}
.banner .tagline{
  font-size: 20px;
  text-align: center;
  background:linear-gradient(to bottom, rgb(220, 110, 110) ,rgba(85, 85, 223, 0.823));
  padding: 10px 10px;
  border-radius: 5px;
}
.banner h1{

  font-size: 65px;
  line-height: 1;
  letter-spacing: 0.8px;
}
.banner p{
  letter-spacing: 0.5px;
  width: 80%;
  color:#fff;
  
}

/* Skills*/
.skill{
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(to left, rgba(7, 7, 136, 0.763), rgba(188, 15, 15, 0.809));
  color: #fff;
  position: relative;
}

.skill-bx{
  
  margin-top: -50px;
  display: flex;
  background-color:  #161414;
  opacity: 0.8;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  text-align: center;
  width: 80%;
  border-radius: 64px;
  border-color: #fff;
  margin-bottom: 20px;

}
.skill-bx h2{
  font-weight: 700;
  font-size: 65px;
}
.skill-bx p{
  font-weight: 400;
  margin-top: -20px;
  line-height: 1;
  letter-spacing: 0.8px;
  font-family: sans-serif;
}
.skill-slider{
  margin: 50px 10px;
  width: 85%;

  position:relative
}
.skill-slider .item img{
  width: 50%;
}
.skill-slider .item h5{
  font-weight: 400;
  font-family: sans-serif;
  font-size: 18px;
}

/*projects*/

.project{
  width: 100%;
  background: linear-gradient(to left, rgba(7, 7, 136, 0.763), rgba(188, 15, 15, 0.809));
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction:column ;
  align-items: center;
  line-height: 1;
 
}
.project h2{
  font-size: 64px;
  font-weight: 400px;
}
.container_project{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  align-items: center;
  text-align: center;
 
}

.projectCard .projectImg{
  width:80%;
  height: 200px;
  border-radius: 10px;
  margin:20px 0;
  position: relative;
  filter: drop-shadow(0 0 2em rgba(14, 14, 14, 0.824) );

}
.projectImg::before{
  content: "";
  background: rgb(191, 170, 170);
  opacity: 0.85;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.projectImg:hover::before{
  height: 100%;
}
.project p{
  width: 50%;
  text-align: center;
}


/*Contact*/
.contact-me{
  margin-top: 50px;
  width: 100%;
  padding: 100px 0; 
  color: #fff;
  background: linear-gradient(to left, rgba(7, 7, 136, 0.763), rgba(188, 15, 15, 0.809));
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}
.contact-me .imageContact img{
  border-radius: 20px;
  width: 400px;
  height:400px;
  animation: animationPicture .5s ease-in-out;
}
@keyframes animationPicture {
  0%{
      opacity: 0;
      transform: scale(0);
  }
  50%{

    opacity: 1;
    transform: scale(1);
  }
  100%{
    opacity: 1;
    transform: scale(2);
  }
}
.formContact h2{
  font-size: 64px;
  font-weight: 400;
}
.formContact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
  align-items: center;
}
.formContact .form{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.formfields{
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}
.formfields .formfield input{
  color: #fff;
  margin: 5px;
  height: 30px;
  border-radius: 10px;
  border-width: 1;
  background-color: #ffffff2c;
  border-color: #fff;
}
.formfield{
  display: flex;
  flex-direction: column;
}

.message textarea{
  background-color: #ffffff2c;
  border-radius: 10px;
  border-color: #fff;
  color: #fff;
 
}
::placeholder{
  color: #fff;
  font-family: sans-serif;
  font-size: 14px;
  padding-left:10px;
}
.contactbtn {
  margin-top: 10px;
}
.contactbtn .btn{
position: absolute;
left: 5px;
border-radius: 10px;
}

/*contact responsive*/
@media screen and (max-width:810px) {
  .contact-me{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
}


/*footer*/

.footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #161414;
  color: #fff;
  padding: 10px 0 10px;
}
.footer .social{
  display:flex;
  flex-direction: column;
  justify-items: center;
  position: relative;
 
  height: 100px;
}
.footer .socialImg{
  display: flex;
  flex-direction: row;
}
.footer .social img{
  width:40px;
  height: 40px;
  border-radius: 50%;
  border-width: 0;
  margin-right: 20px;
  color: #fff;
  background-color: #fff;
}
.footer .social p{
  position: absolute;
  bottom: 1px;
}
.footer .logo h1{
  font-size: 64px;
  font-weight: 400;
}
.socialImg img:hover{
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}